* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background: #fff3d2;
}

nav {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background: #446e01;
  color: white;
}


nav .logo img {
  max-width: 13%;
}

nav .menu {
  list-style: none;
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
}

nav .menu li a {
  color: rgb(233, 255, 204);
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
  background-color: #82b62f;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 150px;
  transition: 0.3s;
}

nav .menu li a:hover {
  background-color: #eea300;
  color: rgb(41, 30, 0);
  transform: scale(1.1);
}

/* HERO */
.hero {
  background: #fff3d2;
  text-align: center;
  padding: 50px 20px;
}

.hero img {
  max-width: 70%;
  height: auto;
  margin-bottom: 20px;
}

/* Parte superior do hero */
.hero-top {
  margin-bottom: 40px;
}

.hero-top h1 {
  font-size: 2.2rem;
  color: #006400;
  margin-bottom: 10px;
}

.hero-top p {
  color: #333;
  font-size: 1.1rem;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* Painéis */
.hero-panels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.hero-left, .hero-middle, .hero-right {
  background: #ffe2a3;
  border-radius: 10px;
  padding: 25px;
  flex: 1 1 300px;
  box-shadow: 0 2px 5px #805023
}

.hero-left h2, .hero-middle h2,
.hero-right h2 {
  color: #82b62f;
  margin-bottom: 15px;
}

.hero-left p, .hero-middle p,
.hero-right p {
  margin-bottom: 15px;
  color: #333;
}

/* Responsividade */
@media (min-width: 768px) {
  .hero-buttons {
    flex-direction: row;
    justify-content: center;
  }
  .hero .btn {
    width: auto;
  }
}

/* Estatísticas */
.stats {
  display: flex;
  justify-content: space-around;
  background: #ffe2a3;
  padding: 40px 20px;
}

.stats .stat h2 {
  font-size: 2rem;
  color: #82b62f;
}

/* Quem atendemos */
.quem-atendemos {
  padding: 50px 20px;
  text-align: center;
}

/* Depoimentos */
.depoimentos {
  background: #ffe2a3;
  padding: 50px 20px;
  text-align: center;
}

.depoimentos-galeria {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.depoimentos-galeria blockquote {
  background: rgb(244, 255, 204);
  padding: 15px 20px;
  border-left: 4px solid #82b62f;
  width: 250px;
  font-style: italic;
}

/* Apoiadores */
.apoiadores, .mantenedores, .premios {
  padding: 40px 20px;
  text-align: center;
  background-color: #ffffff;
  border-top: 2px solid #eeeeee
}

.apoiadores h2, .mantenedores h2, .premios h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #82b62f;
}

.apoiadores .logos, .mantenedores .logos, .premios .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 40px;
  margin-top: 20px;
}

.apoiadores .logos img, .mantenedores .logos img, .premios .logos img {
  max-height: 70px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.apoiadores .logos img:hover, .mantenedores .logos img:hover, .premios .logos img:hover {
  transform: scale(1.05);
}

/* Rodapé */
footer {
  background: #82b62f;
  color: white;
  padding-top: 20px;
  padding-bottom: 70px;
  text-align: center;
  margin-top: 40px;
}

footer p {
  margin-bottom: 10px;
}

footer .social a {
  background-color:rgb(255, 250, 187);
  padding: 10px;
  border-radius: 10px;
  color: #eea300;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
}

footer .social a:hover {
  background-color: #eea300;
  color: white;
}